svg {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}
.left, .shield {
  fill:#DD0031;
}
.left-over{
  stroke-width: 5px;
  fill-opacity: 0;
}
.left-out{
  fill-opacity: 0;
  stroke-width: 0;
}
.right {
  fill:#C3002F;
}
.a {
  fill:#FFFFFF;
}
